<a href="https://colab.research.google.com/github/piyushchouhan/Data-Wrangling/blob/main/Concatenating_and_Merging_Data_from_Different_Sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

One-to-One joins

In [ ]:
df1 = pd.DataFrame({"Product": ["Prod_1","Prod_2","Prod_3","Prod_4"],
                   "division":["Div_A","Div_B","Div_C","Div_D"],}
                   )
df2 = pd.DataFrame({"sales" : ["12500","10800","5600","7980"],
                    "Product":["Prod_3","Prod_2","Prod_4","Prod_1"]})
display(df1, df2)

  Product division
0  Prod_1    Div_A
1  Prod_2    Div_B
2  Prod_3    Div_C
3  Prod_4    Div_D

   sales Product
0  12500  Prod_3
1  10800  Prod_2
2   5600  Prod_4
3   7980  Prod_1

In [ ]:
#merging
df3 = pd.merge(df1, df2)
df3

  Product division  sales
0  Prod_1    Div_A   7980
1  Prod_2    Div_B  10800
2  Prod_3    Div_C  12500
3  Prod_4    Div_D   5600

Many to One joins

In [ ]:
df4 = pd.DataFrame({"division": ["Div_A","Div_B","Div_C"],
                   "manager": ["roger","rafael",'novak']})
df4

  division manager
0    Div_A   roger
1    Div_B  rafael
2    Div_C   novak

In [ ]:
df5 = pd.merge(df3, df4)
df5

  Product division  sales manager
0  Prod_1    Div_A   7980   roger
1  Prod_2    Div_B  10800  rafael
2  Prod_3    Div_C  12500   novak

Many to Many joins

In [ ]:
df6 = pd.DataFrame({"division" : ["Div_A","Div_A","Div_B","Div_C","Div_C","Div_c"],
                    "exm_grade" : ["13","14+","12","11","10","9-"]})
df6

  division exm_grade
0    Div_A        13
1    Div_A       14+
2    Div_B        12
3    Div_C        11
4    Div_C        10
5    Div_c        9-

In [ ]:
df7 = pd.merge(df1, df6)
df7

  Product division exm_grade
0  Prod_1    Div_A        13
1  Prod_1    Div_A       14+
2  Prod_2    Div_B        12
3  Prod_3    Div_C        11
4  Prod_3    Div_C        10

Merge Keys

In [ ]:
 #on parameter
 display(pd.merge(df1, df2, on="Product"))

  Product division  sales
0  Prod_1    Div_A   7980
1  Prod_2    Div_B  10800
2  Prod_3    Div_C  12500
3  Prod_4    Div_D   5600

In [ ]:
#left_on right_on
df1_new = pd.DataFrame({"Project": ["Prod_1","Prod_2","Prod_3","Prod_4"],
                   "division":["Div_A","Div_B","Div_C","Div_B"],}
                   )
display(pd.merge(df1_new, df2, left_on="Project", right_on="Product"))

  Project division  sales Product
0  Prod_1    Div_A   7980  Prod_1
1  Prod_2    Div_B  10800  Prod_2
2  Prod_3    Div_C  12500  Prod_3
3  Prod_4    Div_B   5600  Prod_4

In [ ]:
display(pd.merge(df1_new, df2, left_on="Project", right_on="Product").drop("Product", axis=1))

  Project division  sales
0  Prod_1    Div_A   7980
1  Prod_2    Div_B  10800
2  Prod_3    Div_C  12500
3  Prod_4    Div_B   5600

In [ ]:
#setting index

df1_index = df1.set_index("Product")
df2_index = df2.set_index("Product")

display(df1_index,df2_index)

        division
Product
Prod_1     Div_A
Prod_2     Div_B
Prod_3     Div_C
Prod_4     Div_D

         sales
Product
Prod_3   12500
Prod_2   10800
Prod_4    5600
Prod_1    7980

In [ ]:
display(pd.merge(df1_index, df2_index, left_index=True, right_index=True))

        division  sales
Product
Prod_1     Div_A   7980
Prod_2     Div_B  10800
Prod_3     Div_C  12500
Prod_4     Div_D   5600