<a href="https://colab.research.google.com/github/piyushchouhan/Data-Wrangling/blob/main/Data_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
wine_data = pd.read_csv('wine.csv')

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

## Simple fearure Scaling

In [ ]:
wine_data['fixed acidity']= wine_data['fixed acidity']/wine_data['fixed acidity'].max()

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0       0.465409              0.70         0.00  ...       0.56      9.4        5
1       0.490566              0.88         0.00  ...       0.68      9.8        5
2       0.490566              0.76         0.04  ...       0.65      9.8        5
3       0.704403              0.28         0.56  ...       0.58      9.8        6
4       0.465409              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
#entire data set
wine_data = wine_data / wine_data.max()
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol  quality
0       0.465409          0.443038         0.00  ...      0.280  0.630872    0.625
1       0.490566          0.556962         0.00  ...      0.340  0.657718    0.625
2       0.490566          0.481013         0.04  ...      0.325  0.657718    0.625
3       0.704403          0.177215         0.56  ...      0.290  0.657718    0.750
4       0.465409          0.443038         0.00  ...      0.280  0.630872    0.625

[5 rows x 12 columns]

#Min max Scaling

In [ ]:
wine_data['fixed acidity'] = (wine_data['fixed acidity']-wine_data['fixed acidity'].min())/(wine_data['fixed acidity'].max()-wine_data['fixed acidity'].min())

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol  quality
0       0.247788          0.443038         0.00  ...      0.280  0.630872    0.625
1       0.283186          0.556962         0.00  ...      0.340  0.657718    0.625
2       0.283186          0.481013         0.04  ...      0.325  0.657718    0.625
3       0.584071          0.177215         0.56  ...      0.290  0.657718    0.750
4       0.247788          0.443038         0.00  ...      0.280  0.630872    0.625

[5 rows x 12 columns]

In [ ]:
#using sklearn

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

wine_data[wine_data.columns] = scaler.fit_transform(wine_data[wine_data.columns])

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol  quality
0       0.247788          0.397260         0.00  ...   0.137725  0.153846      0.4
1       0.283186          0.520548         0.00  ...   0.209581  0.215385      0.4
2       0.283186          0.438356         0.04  ...   0.191617  0.215385      0.4
3       0.584071          0.109589         0.56  ...   0.149701  0.215385      0.6
4       0.247788          0.397260         0.00  ...   0.137725  0.153846      0.4

[5 rows x 12 columns]

## Z-Score Normalization

In [ ]:
 #Single feature manual
 wine_data['fixed acidity'] = (wine_data['fixed acidity']-wine_data['fixed acidity'].mean())\
                              /(wine_data['fixed acidity'].std())

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol  quality
0      -0.528194          0.397260         0.00  ...   0.137725  0.153846      0.4
1      -0.298454          0.520548         0.00  ...   0.209581  0.215385      0.4
2      -0.298454          0.438356         0.04  ...   0.191617  0.215385      0.4
3       1.654339          0.109589         0.56  ...   0.149701  0.215385      0.6
4      -0.528194          0.397260         0.00  ...   0.137725  0.153846      0.4

[5 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
wine_data[wine_data.columns] = scaler.fit_transform(wine_data[wine_data.columns])

In [ ]:
wine_data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol   quality
0      -0.528360          0.961877    -1.391472  ...  -0.579207 -0.960246 -0.787823
1      -0.298547          1.967442    -1.391472  ...   0.128950 -0.584777 -0.787823
2      -0.298547          1.297065    -1.186070  ...  -0.048089 -0.584777 -0.787823
3       1.654856         -1.384443     1.484154  ...  -0.461180 -0.584777  0.450848
4      -0.528360          0.961877    -1.391472  ...  -0.579207 -0.960246 -0.787823

[5 rows x 12 columns]